langchain==0.3.7
langchain-core==0.3.38
langchain-google-genai==2.0.4
langchain-mcp-adapters==0.1.0
langsmith==0.1.147

fastapi
uvicorn
python-dotenv
mcp

pymongo>=4.10.1
mysql-connector-python

pydantic>=2.7.0
